version: "3.9"

services:
  app:
    build: .
    container_name: translation_service
    restart: always
    # volumes:
    # - .:/var/www/html
    # - ./.env:/var/www/html/.env
    ports:
      - "8000:80"   # host:container
    depends_on:
      - mysql
    env_file:
     - .env

  mysql:
    image: mysql:8.0
    container_name: mysql_database
    restart: always
    ports:
    - 3306:3306
    volumes:
    - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: translation_service
      MYSQL_USER: user
      MYSQL_PASSWORD: secret

  redis:
    image: redis
    container_name: redis_cache
    restart: always
    ports:
    - 6379:6379
    volumes:
    - redis_data:/data

volumes:
 mysql_data:
 redis_data:
